.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.search_form input {
    margin-right: 10px;
    width: 50%;
}

.noposts {
    text-align: center;
    height: 45vh;
}
.noposts p{
    margin-bottom: 1.5em;
}
.noposts a{
    padding: 10px 25px;
}
