.post_container {
    text-align: center;
  }
.post_container img{
    width: 200px;
    transition: .7s;
}
.post_container img:hover{
    cursor: pointer;
    width: 400px;
    transition: .7s;
}
  .post_container h3 {
    margin-bottom: 0.2em;
    margin-top: 3em;
  }
  
  .body{
    width: 50%;
    margin: 25px auto;
  }

  .post_container .tags {
    display: flex;
    justify-content: center;
  }
  
  .tags p {
    margin-right: 1em;
  }
  
  .tags span {
    font-weight: bold;
  }
  .paragraph {
    margin-bottom: 10px;
    line-height: 1.5;
    text-align: justify;
    white-space: pre-line;
  }
  
  