.footer {
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #b6bdc2;
    color: black;
    background: rgba(255, 255, 255, 0.8);
    margin-top: 50px;
}
.footer p{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer img{
    width: 100px;
}